<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>XXX后台系统注册</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="sj-form">
        <form class="box" action="/users/ages" method="POST">
            <h1 class="head">注册后台管理系统</h1>
            <label>
                <input type="text" name="uname" class="form-control" placeholder="账号">
            </label>
            <br />
            <label>
                <input type="password" name="pwd" class="form-control" placeholder="密码">
            </label>
            <label>
                <input type="password" naem="spwd" class="form-control" placeholder="确认密码">
            </label>
            <label>
                <input type="text" name="username" class="form-control" placeholder="名称"> 
            </label>
            <label>
                <input type="radio" name="sex" value="男" checked>男
                <input type="radio" name="sex" value="女">女
            </label>
            <br/>
            <label>
                <p style="display: inline-block">管理员:</p>
                <input type="radio" name="isadmin" value="是">是    
                <input type="radio" name="isadmin" value="否"checked>否
            </label>
            <br />
            <button class="btn">注册</button>
            <br/>
            <a href="/login.html">已有账号，立即登录</a>
            <br />
        </form>
    </div>
</body>

</html>