<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>XXXX后台管理系统</title>
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div class="container">
    <%- include("./common/header.ejs")%>
    <!----header-end---->
    <div class="sj-mian">
      <%- include("./common/nav-left.ejs")%>
      <div class="sj-mian-right">
        <table class="table table-bordered table table-hover .table-bordered">
          <div>新增品牌</div>
          <thead>
            <tr>
              <th>序号</th>
              <th>品牌LOGO</th>
              <th>品牌名称</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>苹果LOGO</td>
              <td>苹果</td>
              <td><a href="#">修改</a><a href="#">删除</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-------foot------->
    <%- include("./common/footer.ejs")%>
  </div>
</body>

</html>