<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>XXX后台系统注册</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="sj-form">
        <form class="box" >
            <h1 class="head">XXXX后台管理系统</h1>
            <label>
                <input type="text" class="form-control" placeholder="账号">
            </label>
            <br />
            <label>
                <input type="password" class="form-control" placeholder="密码">
            </label>
            <br />
            <button class="btn">登录</button>
            <br />
            <a href="/ages.html" class="uname" id="btn1">没有账号？点击注册</a>
        </form>
    </div>
</body>

</html>