<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>XXXX后台管理系统</title>
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
</head>

<body>
  <div class="container">
    <%- include("./common/header.ejs")%>
    <!----header-end---->
    <div class="sj-mian">
      <%- include("./common/nav-left.ejs")%>

      <div class="sj-mian-right">
        <div class="search">
          <input type="text" class="form-control" placeholder="搜索">
          <button type="button" class="btn btn-success">搜索</button>
        </div>
        <div class="bs-example" data-example-id="bordered-table">
          <table class="table table-bordered table table-hover .table-bordered">
            <thead>
              <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>用户名称</th>
                <th>手机号码</th>
                <th>性别</th>
                <th>年龄</th>
                <th>管理员</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>a6980118</td>
                <td>夏目贵志</td>
                <td>15679989900</td>
                <td>男</td>
                <td>24</td>
                <td>是</td>
                <td><a href="#">修改</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>a6980118</td>
                <td>夏目贵志</td>
                <td>15679989900</td>
                <td>男</td>
                <td>24</td>
                <td>是</td>
                <td><a href="#">修改</a><a href="#">删除</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>a6980118</td>
                <td>夏目贵志</td>
                <td>15679989900</td>
                <td>男</td>
                <td>24</td>
                <td>是</td>
                <td><a href="#">修改</a><a href="#">删除</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>a6980118</td>
                <td>夏目贵志</td>
                <td>15679989900</td>
                <td>男</td>
                <td>24</td>
                <td>是</td>
                <td><a href="#">修改</a><a href="#">删除</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!---------fg------->
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-------foot------->
    <%- include("./common/footer.ejs")%>
  </div>
</body>

</html>