/*首页公用*/
html,body{
    height:100%;
}
body{
    background:url("/img/bjt.jpg") no-repeat;
}
.container{
    display: flex;
    flex-direction: column;
    height:100%;
}
.sj-header{
    height:70px;
    padding: 30px  10px;
    background:rgba(63, 62, 62, 0.7);
    border:1px solid #000;
    margin-top:20px;
    border-radius: 12px 12px 0 0; 
}
.sj-footer{
    height:50px;
    border:1px solid #000;
    border-radius: 0 0 12px 12px;
    border-top:none;
    background:rgba(63, 62, 62, 0.7);
}
.sj-mian{
    height:100%;
    display: flex;
    h1{
        text-align: center;
        color:#fff;
        font-size:50px;
        padding-top:100px; 
    }
    .sj-mian-right{
        flex: 1;
        padding:10px;
        background:rgba(63, 62, 62, 0.7);
        border:1px solid #000;
        border-top:none;
     }
    .sj-nav{
        width:280px;
        background:rgba(63, 62, 62, 0.7);
        height: 100%;
        overflow-y:auto;
        border:1px solid #000;
        border-right: none;
        border-top:none;
        li{
            height:45px;
            line-height: 45px;
            text-align: center;
            border-bottom:1px solid #000;
            a{
                font-size:16px;
                color:rgb(24, 152, 238);
            }
        } 
    }
}
.sj-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .sj-right{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    .sj-left{
        a{
            font-size: 26px;
            text-decoration: none;
            color:rgb(82, 171, 231);
        }
    }
}
.table-hover>tbody>tr:hover{
    background:rgba(247, 244, 244,0.7);
}
.pagination{
    float: right;
    li{
        background:rgba(247, 244, 244,0.7);
    }
}
.form-control{
    width:400px;
    margin-bottom:10px;
    background:rgba(63, 62, 62, 0.7);
}
.search{
    display: flex;
    .btn{
        height:34px;
    }
}
.btn-primary{
    margin-left:20px;
}
.btn-success{
    margin-left:20px;
}
.table{
    color:#000;
}