
    <div class="sj-header">
        <div class="sj-left"><a href="/">XXXXXX后台管理系统</a></div>
        <div class="sj-right">
            <p>欢迎您 -xxx(管理员)</p>
            <button class="btn btn-primary btn-lg disabled">退出</button>
        </div>
    </div>
